* {
  box-sizing: border-box;
}

:root {
  --green-main: #7CFF7C;
  --green-soft: #55cc55;
  --green-dim: #2e7d2e;
  --bg-main: #030603;
}

body {
  margin: 0;
  background: radial-gradient(circle at top, #0a120a, #020402);
  color: var(--green-main);
  font-family: "JetBrains Mono", monospace;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Terminal container */
#terminal {
  width: 92%;
  max-width: 1100px;
  height: 86vh;

  background: var(--bg-main);
  border-radius: 16px;
  padding: 32px 36px;

  box-shadow:
    0 0 0 1px rgba(124, 255, 124, 0.18),
    0 0 40px rgba(124, 255, 124, 0.08),
    0 30px 90px rgba(0, 0, 0, 0.85);

  overflow-y: auto;
  position: relative;
}

/* Output text */
#output {
  white-space: pre-wrap;
  line-height: 1.2;
  padding-left: 6px;

  text-shadow:
    0 0 4px rgba(124, 255, 124, 0.45),
    0 0 10px rgba(124, 255, 124, 0.25);
}

/* Input row */
#input-line {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

/* Prompt */
#prompt {
  margin-right: 10px;
  color: var(--green-soft);
}

/* Input */
input {
  background: transparent;
  border: none;
  outline: none;
  color: var(--green-main);
  font-family: inherit;
  font-size: 1em;
  flex: 1;
}

/* CRT scanlines */
#terminal::after {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(124,255,124,0.05),
    rgba(124,255,124,0.05) 1px,
    transparent 1px,
    transparent 3px
  );
  opacity: 0.12;
}

.folder {
  color: #79c0ff;
}

.file {
  color: #c9d1d9;
}

.command {
  color: #7ee787;
}

.error {
  color: #f85149;
}